.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

footer {
  background-color: #ffffff;
  padding: 20px;
  text-align: center;
  box-shadow: inset 0px 4px 4px #00000040;
} 